
.transactionsTbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.transactionsTbl td, .transactionsTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

.transactionsTbl tr:nth-child(even){background-color: #f2f2f2;}

.transactionsTbl tr:hover {background-color: #ddd;}

.transactionsTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #698AFC;
    color: white;
}
h2{
	color: gray;
}

canvas#myChart {
	width: 480px !important;
    height: 240px !important;
}

.ib{
	display:inline-block;
}


.container {
    width: 1400px;
}

.mar-l-20{
	margin-left: 20px;
}

.mar-l-10{
	margin-left: 10px;
}

.mar-l-5{
	margin-left: 5px;
}

.mar-r-20{
	margin-right: 20px;
}

.mar-r-10{
	margin-right: 10px;
}

.mar-r-5{
	margin-right: 5px;
}

