
.transactionsTbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.transactionsTbl td, .transactionsTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

.transactionsTbl tr:nth-child(even){background-color: #f2f2f2;}

.transactionsTbl tr:hover {background-color: #ddd;}

.transactionsTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #698AFC;
    color: white;
}
h2{
	color: gray;
}

canvas#myChart {
	width: 480px !important;
    height: 240px !important;
}

.ib{
	display:inline-block;
}


.container {
    width: 1400px;
}


.navbar {
	background-color: white;
}
.navbar img{
	border-radius:50%;
}

hr {
    margin-top: 0px; 
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translatex(-50%);
  }
}

.main-dropdown {
    width: 40em;
    height: 3em;
    background-color: #053763;
    color: white;
    border-radius: 3px;
	  text-align: center;
	  text-align-last: center;
}

nav.navbar{
	border-bottom: 1.5px solid black;
	border-radius: 0px;
}

ul.nav.navbar-nav.navbar-right li{
    padding-top: 20%;
    display:inline-block;
}

.pad-bot-10-em{
	padding-bottom: 10em;	
}

.mar-l-20{
	margin-left: 20px;
}

.mar-l-10{
	margin-left: 10px;
}

.mar-l-5{
	margin-left: 5px;
}

.mar-r-20{
	margin-right: 20px;
}

.mar-r-10{
	margin-right: 10px;
}

.mar-r-5{
	margin-right: 5px;
}


